/* ---------universal styles--------- */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: #f0f0f8;
}

/* ----------shared styles---------- */
/* fonts */
.inter{
    font-family: "Inter", sans-serif;
}
.bold{
    font-weight: 700;
}
.heavy{
    font-weight: 900;
}
/* text colors */
.blue{
    color: #4E47FF;
}

/* button styles */
    .btn{
    border: none;
    font-size: 16px;
    font-weight: 700;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
}
button a{
    text-decoration: none;
}
button p{
    color: white;
}

/* -----------header styles------------ */
header{
    background-image: url('../assets/Hero-bg.png');
    padding-bottom: 160px;
    margin-bottom: 120px;
}
/* navigation bar */
nav{
    display: flex;
    justify-content: space-between;

    padding: 50px 150px;
    margin: 0px auto 160px auto;
}
.nav-title{
    font-size: 34px;
}
/* hero section */
.hero{
    text-align: center;
}
.hero-title{
    color: #252432;
    font-size: 65px;
    margin-bottom: 40px;
}

/* -----------main styles--------- */
/* action section styles */
.action{
    width: 80%;
    margin: 0 auto 120px auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
}
.action-content{
    width: 60%;
}
.action-title{
    font-size: 42px;
    margin-bottom: 24px;
    color: #252432;
}
.action-text{
    font-size: 24px;
    margin-bottom: 24px;
    color: #25243250;
}
.action-image{
    width: 40%;
}
.action img{
    border-radius: 48px;
}

/* productive section styles */
.productive{
    background-color: #4e47ff10;
    box-shadow: 2px 2px 20px #25243250;

    width: 70%;
    margin: 0 auto 140px auto;
    padding: 50px 80px;
    text-align: center;
    border-radius: 24px;
}
.productive-title{
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}
.productive-flexbox{
    display: flex;
    justify-content: space-around;
}
.productive-flex-title{
    font-size: 80px;
    font-family: "Inter", sans-serif;
}
.productive-flex-text{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #00000050;
}

/* review section styles */
.review{
    width: 80%;
    margin: 0 auto 140px auto;
}
.review-title{
        text-align: center;
        font-size: 42px;
        color: #252432;
        margin-bottom: 42px;
}
.review-flexbox{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.review-flex-item{
    background-color: white;
    border: 1px solid #f2eded;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 2px 2px 20px #25243250;
}
.review-stars{
    margin-bottom: 24px;
}
.review-flex-content{
    margin-bottom: 24px;
}
.review-flex-title{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1e1e1e;
    margin-bottom: 8px;
}
.review-flex-text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1e1e1e;
}
.user-profile{
    color: #757575;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;

    display: flex;
    justify-content: left;
    gap: 12px;
}
.profile-pic img{
    border-radius: 50%;
}